langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
chromadb
python-dotenv==1.0.1
tiktoken
cryptography

# Install the core unstructured library PLUS the specific dependencies for Word docs
unstructured
python-docx
olefile
tkinter
